AtlusScriptCompiler.log
build_de_ruby.bat
build_en_ruby.bat
DE_FINAL_FILES\SCRIPT\FIELD\FSCR0150_002_100.BF
DE_FINAL_FILES\FIELD\ETC\AT_DNG.BF
DE_FINAL_FILES\FIELD\ETC\DUNGEON.BF
DE_FINAL_FILES\FIELD\ETC\FIELD.BF
EN_FINAL_FILES\SCRIPT\FIELD\FSCR0150_002_100.BF
EN_FINAL_FILES\FIELD\ETC\AT_DNG.BF
EN_FINAL_FILES\FIELD\ETC\DUNGEON.BF
EN_FINAL_FILES\FIELD\ETC\FIELD.BF